{% extends "main/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'main/css/application_status.css' %}">
<div class="applications-wrapper">
    <h2 class="applications-title">My Applications</h2>

    {% for app in applications %}
        <div class="application-card">
            <div class="application-job">{{ app.job.title }}</div>
            <div class="application-status">Status: {{ app.status }}</div>
        </div>
    {% empty %}
        <p class="no-applications">No applications yet</p>
    {% endfor %}
</div>

{% endblock %}
